.modal-form {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 110;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  text-align: center;
}

.modal-form.active {
  display: block;
}

.modal-form .modal-body {
  background: #fff;
  display: flex;
  flex-direction: column;
  width: 60rem;
  margin: 20rem auto;
  padding: 2rem 6rem;
  border-radius: 2.4rem;
}

.modal-form .modal-body h1 {
    color: #555555;
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}


.modal-form .modal-body form .form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-form .modal-body form .form-group label {
  text-align: left;
  flex: 1;
  margin-right: 1rem;
  white-space: nowrap;
}

.modal-form .modal-body form .form-group input {
  font-size: 1.8rem;
  margin: 1.6rem 0;
  padding: 1.4rem 1.8rem;  
  border-radius: 3rem !important;
  box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.08);
  border: none;
  background: #fff;
  flex: 4;
}

.modal-form .modal-body .modal-button {
  margin-top: 2rem;
}

.modal-form .modal-body .modal-button button {
  margin: 0.8rem;
  border: none;
  padding: 0.8rem 1.8rem;
  border-radius: 0.8rem;
  color: #fff;
  font-size: 1.8rem;
  width: 10rem;
}

.modal-form .modal-body .modal-button button:hover {
    opacity: 0.8;
  }

.modal-form .modal-body .modal-button .modal-button-cancel {
    background-color: #ff6464;
}

.modal-form .modal-body .modal-button .modal-button-save {
    background-color: #44be44;
    width: 15rem;
}


/* Responsive */

/*  Mobile: width < 740px  */
@media (max-width: 46.1875em) {
 
}

/*  Tablet: width >= 740px and width < 1024px */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    .modal-form .modal-body h1 {
        font-size: 2.6rem;
    }
      
      .modal-form .modal-body form input {
        font-size: 1.6rem;
      }

      .modal-form .modal-body .modal-button button {
        font-size: 1.6rem;
      }
}