.slide__images {
  padding: 32px 32px 78px;
  width: 476px;
  height: 564px;
  background: var(--white-color);
  box-shadow: 0px 15px 60px rgba(0, 0, 0, 0.12);
  border-radius: 16px;
  &-box {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    & input {
      display: none;
    }
  }
  #radio1:checked ~ #slide__image1 {
    opacity: 1;
  }

  #radio2:checked ~ #slide__image2 {
    opacity: 1;
  }

  #radio3:checked ~ #slide__image3 {
    opacity: 1;
  }

  #radio1:checked ~ .slide__manual #manual1,
  #radio2:checked ~ .slide__manual #manual2,
  #radio3:checked ~ .slide__manual #manual3 {
    width: 47px;
    height: 15px;
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0.4)
      ),
      #ff477e;
    border-radius: 28.158px;
  }
  .slide__image {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity ease-in-out 0.8s;
    & img {
      width: 100%;
      height: 100%;
      object-fit: center;
      border-radius: 16px;
    }
  }
  .slide__manual {
    position: absolute;
    z-index: 50;
    left: 50%;
    transform: translateX(-50%);
    bottom: -39px;
    display: flex;
    align-items: center;
    &-btn {
      width: 10px;
      height: 10px;
      background-color: #cccccc;
      border-radius: 50%;
      transition: 0.5s;
      cursor: pointer;
      &:not(:last-child) {
        margin-right: 7.5px;
      }
    }
  }
}

/* Responsive */

// Mobile: width < 740px
@media (max-width: 46.1875em) {
  .slide__images {
    padding: 10px 10px 0;
    width: unset;
    height: 383px;
    &-box {
      height: 80%;
    }
    .slide__image img {
      height: 363px;
    }
    .slide__manual-btn {
      background-color: #fff;
    }
  }
}

// Tablet: width >= 740px and width < 1024px
@media (min-width: 46.25em) and (max-width: 63.9375em) {
  .slide__images {
    width: 100%;
    padding: 16px 16px 78px;
    .slide__image img {
      opacity: 0.9;
    }
  }
}
